<div class="container">
  <h2 class="my-5 text-center" >Évènement n°<%= @event.id %> :</h2>

  <div class="card">
    <h5 class="card-header"><%= @event.title %></h5>
    <div class="card-body">
      
      
      
      

      <div class="row">
        <div class="col-sm col-lg-3">
          <p class="card-title"><b>Lieu :</b></p>
        </div>
        <div class="col-sm col-lg-3">
          <%= @event.location %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm col-lg-3">
          <p class="card-title"><b>Date de début :</b> </p>
        </div>
        <div class="col-sm col-lg-3">
          <%= @event.start_date %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm col-lg-3">
          <p class="card-title"><b>Date de fin :</b> </p>
        </div>
        <div class="col-sm col-lg-3">
          <%= @event.end_date %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm col-lg-3">
          <p class="card-title"><b>Nombre d'inscrit :</b> </p>
        </div>
        <div class="col-sm col-lg-3">
          <%= @event.users.count - 1 %>
        </div>
      </div>

      <p class="card-text"><%= @event.description%></p>
      <p class="text-muted"><b>Crée par : </b><%= @event.event_admin.email %></p>
      
    </div>
  </div>
  <br>
    <%= link_to "Accueil", root_path, class: "d-inline p-2 btn btn-primary m-2" %>
</div>